* {
  user-select: none;
}

body, html{
  height: 100%;
}

body {
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.image-container{
  background-size: cover;
  margin: 8px;
  background-position: center;
  flex: calc(25% - 16px);
  display: inline-block;
  background-image: url('assets/placeholder.png');
  background-repeat: no-repeat;
  height: calc(50% - 16px);
  width: 25%;
}

.image-container img{
  visibility: hidden;
  height: 100%;
  width: 100%;
}

.image-container.selected img{
  visibility: visible;
}
